/*font-family: 'Merriweather', serif;*/
/*font-family: 'Raleway', sans-serif;*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.bg {
	background-image: url(../images/bg1.jpg);
	/*background: 
		linear-gradient(
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.45)
		), url(../images/bg1.jpg);
*/	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#sticky-top {
    background: rgba(255,255,255,0.9);
}


/*landing page*/
#jumbo-land {
	height: 100vh;
	background-color: transparent;
	/*background-color: #333; off-black*/
	/*background-image: url(../images/bg1.jpg);*/
	background-size: cover;
	z-index: 100;
	padding-top: 20%;
	border-radius: 0; /*to remove rounder corners of jumbotron*/
}
.jumbotron h1 {
	font-family: 'Merriweather', serif;
	color: #f2f2f2;
	/*background-color: rgba(0, 62, 255, 0.5);*/
}

.jumbotron hr {
	background-color: #fff; 
}

#title-box {
	background-color: transparent
 	width: 85;
 	border: 3px solid #fff;
  	padding: 25px;
 /* 	margin: 25px;*/
}

.jumbotron p {
	color: white;
}

.btn a {
	text-decoration: none;
	color: #fff;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
/*end landing page*/

/*home page*/
#home-landing {
	background-color: #141414;
	color: #fff; /*white*/
	padding: 20%; 
	height: 90vh;
}


#carousel-home {
	height: 80vh;
}

#carousel-home img {
	height: 70vh;
	max-height: 70vh;
}

#carousel-home iframe {
	height: 70vh;
	max-height: 70vh;
}


.down a{
	text-decoration: none;
	color: white;
}

.down {
	position: absolute;
	bottom: 0;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
/*	background-color: red;
	opacity: 0.5%;*/
	background-color: rgba(0, 0, 0, 0.25);
	padding: 10px 50px;
	border-radius: 10px;
}
.down i {
	padding-top: 0;
}
 
/*home bg - How well is the philippines*/

.banner {
	/*background-color: #FFFFFF;*/
	background-image: url(../images/phileco.jpeg);
	height: 91vh;
	/*width: 100vw;*/
	position: relative;
	background-size: cover;
	background-attachment: fixed;
}

.home-box {
	border: 5px double #fff;
	text-align: center;
	width: 700px;
	padding: 40px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -35%);
	background-color: rgba(0, 0, 0, 0.50);
	margin: 0;
}

.home-box h4 {
	background-color: white;
	color: black;
}

#ph-txt {
	font-size: 3.5em;
}

.card-date {
	color: blue;
	font-size: 0.75em;
}

/*end home page*/



/*about page*/
#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2; /*white*/
	font-size: 5em;
	letter-spacing: 5px;
	padding-top: 20vh;
}

#mission {
	height: 100%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}

.about-tags {
	font-weight: bold;
	font-family: 'Merriweather', serif;
}
/*end about page*/

/*gallery page*/
#head-gall {
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #141414;
	color: #f2f2f2;
}

#gallery-items .card {
	height: 400px;
	margin-bottom: 20px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;
}


/*end gallery page*/


footer p {
	color: white;
}









